body{
  background: #F5F5F5;
}
.container a{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.box-header{
  background: linear-gradient(180deg,#f53d2d,#f63);
  width: 100%;
  float: left;
  position: fixed;
  margin-top: -22px;
  z-index: 9;
}
.header{
  width: 100%;
  float: left;
  display: flex;
}
.header-list{
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.header-embrace{
  display: flex;
  list-style: none ;
  padding: 0;
}
.header-list--item{
  padding-right: 20px;
  font-size: 14px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.header-list--item-margin{
  margin: -2px 0;
}
.header-list--item-letter{
  color: #fff;
  position: relative;
}
.icon-facebook{
  color: #fff;
  font-size: 15px;
  margin: 0 3px;
}
.icon-instagram{
  color: #fff;
  font-size: 17px;
  margin: 0 3px;
}
.header-list--item-letter:hover{
  color:#dda593;
}
.header-list--item-letter-content::after{
  content: "";
  width: 2px;
  height: 13px;
  background: #e97955;
  position: absolute;
  right: -10px;
  top: 2px;
}
.header-list--item-letter-content__before::before{
  content: "";
  width: 83px;
  height: 16px;
  position: absolute;
  top: 16px;
  left: 0;
}
.qr-code{
  position: absolute;
  top: 32px;
  padding: 3px;
  background: #fff;
  width: 188px;
  display: none;
  border-radius: 3px;
  z-index: 9;
}
.header-list--item-hover:hover .qr-code{
  display: block;
}
.code{
  width: 100%;
}
.app-store{
  width: 45%;
  margin: 0 4px;
}
.google-play{
  width: 45%;
}
.app-gallery{
  width: 45%;
  margin: 4px;
}
.header-notify{
  position: absolute;
  top: 30px;
  width: 400px;
  background: #fff;
  right: 20px;
  border: 1px solid #e5e0e0;
  border-radius: 2px;
  display: none;
  z-index: 9;
}
.header-notify__begin{
  width: 100%;
  padding: 0 10px;
}
.header-notify__begin h3{
  font-size: 14px;
  font-weight: 100;
  color: #d3a4a4;
}
.header-notify__between{
  width: 100%;
  display: flex;
  margin: 10px 0;
}
.header-notify__between img{
  width: 45px;
   margin: 0 10px;
}
.header-notify__between-item--single{
  line-height: 0;
  margin: 8px 0 15px 0;
  font-size: 15px;
  color: #333;
}
.header-notify__between-item{
  line-height: 1;
  margin: 0;
  color: #999;
  font-size: 13px;
}
.header-notify::after{
  content: "";
  border: 15px solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -28px;
  right: 25px;
}
.header-notify::before{
  content: "";
  position: absolute;
  width: 82px;
  height: 20px;
  top: -20px;
  right: 0;
}
.header-notify__end{
  margin: auto;
}
.header-notify__end h4{
  text-align: center;
}
.header-notify__end a{
  color: #8b8282;
}
.header-list--item:hover .header-notify{
  display: block;
}
.cart-box{
  width: 100%;
  float: left;
  display: flex;
}
.cart{
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.cart-img{
  width: 18%;
  padding: 0 40px;
}
.cart-button{
  width: 70%;
  position: relative;
}
.cart-search{
  width: 100%;
  height: 43px;
}
.button-search{
  position: absolute;
  top: 3px;
  right: 4px;
  width: 67px;
  height: 36px;
  background: #FB5533;
  border: none;
  color: #fff;
  cursor: inherit;
}
.button-search:hover{
  background-color: #f76547;
}
.cart-icon{
  width: 15%;
}
.cart-icon-hover{
  width: 40px;
  height: 40px;
  margin-left: 70px;
  position: relative;
}
.cart-icon-parameter{
  margin: 15px 6px;
  font-size: 23px;
  color: #fff;
  
}
.cart-list{
  display: flex;
  list-style: none;
  padding: 0;
  margin:3px 0 15px 0;
}
.cart-list--item{
  margin-right: 20px;
}
.cart-item{
  font-size: 12px;
  color: #fff;
}
.cart-icon--list{
  width: 400px;
  height: 250px;
  background: #fff;
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  border:1px solid #999 ;
  border-radius: 3px;
}
.cart-icon--list p{
  text-align: center;
  margin-top: 160px;
}
.cart-icon--list::after{
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  border: 20px solid;
  border-color: transparent transparent #fff transparent;
}
.cart-icon-hover:hover .cart-icon--list{
  display: block;
}
.slider-box{
  width: 100%;
  float: left;
  margin-top: 140px;
  display: flex;
  z-index: -99;
}
.slider{
  width: 65%;
  float: left;
  margin: auto;
  display: flex;
}
.nav-slider{
  z-index: 8;
  flex: 2;
}
.img-slider{
  flex: 1;
}
.img-slider--one{
  margin: 6px;
  width: 100%;
}
.img-slider--one img{
  width: 98%;
}
.img-slider--two{
  margin: 6px;
  width: 100%;
}
.img-slider--two img{
  width: 98%;
}
.voucher-box{
  width: 100%;
  float: left;
  display: flex;
}
.voucher{
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.voucher__img-box{
  width: 155px;
  margin: 10px 0;
}
.voucher__img-box:hover{
  margin: 9px 0;
}
.voucher__img{
  width: 30%;
  margin-left: 55px;
  border: 1px solid #cac0c0;
  border-radius: 15px;
}
.voucher__img img{
  width: 100%;
}
.voucher__list{
  text-align: center;
  font-size: 14px;
}
.background__image-box{
  width: 100%;
  float: left;
  display: flex;
  margin-top: 20px;

}
.background__image{
  width: 65%;
  float: left;
  margin: auto;
}
.background__image img{
  width: 100%;
}
.advertisement__image-box{
  width: 100%;
  float: left;
  display: flex;
  margin-top: 20px;

}
.advertisement__image{
  width: 65%;
  float: left;
  margin: auto;
}
.advertisement__image img{
  width: 100%;
}
.advertisement__list{
  margin: 0 18px;
  background: #FFEBDA;
  padding: 15px;
  height: 300px;
  border-radius: 3px;
}
.advertisement__list-item{
  display: flex;
  justify-content: space-between;
}
.advertisement__list-item-one{
  text-transform: uppercase;
  font-size: 16px;
  color: #c94141;
}
.advertisement__list-item-two a{
  font-size: 12px;
  color: #c94141;
}
.advertisement__list-image--box{
  width: 102.5%;
  float: left;
  margin-left: -15px;
  display: flex;
  justify-content: space-between;
}
.advertisement__list-image{
  width: 200px;
  height: 230px;
  background: #fff;
  padding: 20px;
  position: relative;
  margin-top: 15px;
  border-right: 1px solid #d7d5d5;
}
.advertisement__list-image::after{
  content:"";
  border: 25px solid;
  position: absolute;
  top: 0;
  right: 0;
  border-color: rgba(255, 216, 57, 1) rgba(255, 216, 57, 1) transparent rgba(255, 216, 57, 1);
}
.advertisement__list-image::before{
  content: "";
  border: 20px solid;
  position: absolute;
  top: 0;
  right: 0;
  border-color: rgba(255, 216, 57, 1);
}
.advertisement__list-image img{
  width: 100%;
  height: 160px;
  border: 1px solid #df6060;
}
.advertisement__list-image-price{
  text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color:#FE6333 ;
}
.advertisement__list-image--sale{
  position: absolute;
  top: 10px;
  right: 4px;
  z-index: 5;
}
.advertisement__list-image--sale-one{
  margin-top: 0;
  line-height: 0;
  color: #FE6333;
}
.advertisement__list-image--sale-two{
  margin:-9px 0;
  text-transform: uppercase;
  color: #fff;
}
.category-box{
  width: 100%;
  float: left;
  margin-top: 20px;
  display: flex;
}
.category{
  width: 65%;
  margin: auto;
  background: #fff;
}
.header-category{
  margin: 20px 25px;
  font-size: 17px;
  text-transform: uppercase;
}

.category-body-box{
  width: 100%;
  float: left;
}
.categor-body{
  height: 365px;
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
}
.category-img-box{
  height: 175px;
  border: 1px solid #e3cbcb;
}
.category-img-box:hover{
  border: 1px solid #999;
}
.category-list{
  text-align: center;
}
.flash-sale-box{
  width: 100%;
  float: left;
  display: flex;
  margin-top: 20px;
}
.flash-sale{
  width: 65%;
 margin: auto;
 padding-top: 20px;
 background: #fff;
}
.flash-img{
  position: relative;
}
.flash-img::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 30px solid;
  border-color: rgba(255, 216, 57, 1) rgba(255, 216, 57, 1) transparent rgba(255, 216, 57, 1);
}
.flash-img::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 25px solid;
  border-color: rgba(255, 216, 57, 1);
}
.flash-img-sale{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
.flash-img-box{
  width: 100%;
}
.owl-carousel-two-box{
  display: flex;
  justify-content: space-between;
}
.flash-img-sale-one{
  line-height: 0;
  margin-right: 18px;
  color:#FE6333 ;
}

.flash-img-sale-two{
  line-height: 0;
  text-transform: uppercase;
  color: #fff;
}
.flash-list{
  text-align: center;
  color:#f5631e
}
.dolar{
  font-size: 15px;
}
.price{
  font-size:25px ;
}
.flash-sold-box{
  width: 100%;
}
.flash-sold{
  text-align: center;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/ac7f81d9ee062223753413ec98497a86.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  width: 70%;
  margin-left: 35px;
}
.flash-sold-fix{
  position: relative;
  background: #fdfdfd6b;
  height: 19px;
  top: -22px;
  right: -23px;
  width: 90%;
}
.header-flash-sale{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.header-flash-sale-one{
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/fb1088de81e42c4e538967ec12cb5caa.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 135px;
  height: 33px;
}
.header-flash-sale-two{
  color: #d14141;
  font-size: 14px;
}
.the-firm-box{
  width: 100%;
  float: left;
  display: flex;
  margin-top: 20px;
}
.the-firm{
  width: 65%;
  float: left;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.the-firm-one{
  flex: 1;
}
.the-firm-two{
  flex: 1;
}
.the-firm-three{
  flex: 1;
}
.shopee-mall-box{
  width: 100%;
  float: left;
  display: flex;
  margin-top: 15px;
}
.shopee-mall{
  width: 65%;
  margin: auto;
  background: #fff;
}
.shopee-mall-header{
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5d7d7;
  padding-right: 25px;
}
.shopee-mall-header ul{
  display: flex;
  list-style: none;
}
.shopee-mall-header ul li{
  margin-right: 20px;
  font-size: 16px;
  color: #000;
}
.shopee-mall-header-item{
  text-transform: uppercase!important;
  color: #d12c1b!important;
}
.shopee-mall-header-end{
  font-size: 14px;
  margin-top: 15px;
  color: #d12c1b;
}
.owl-carousel ul{
  list-style: none;
  width: 100%;
  padding: 0;
}
.owl-carousel ul li{
  width: 109%;
}
.shopee-mall-body{
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.shopee-mall-body-one{
  width: 30%;
  height: 442px;
}
.shopee-mall-body-two{
  width: 70%;
  padding-top: 10px;
}
.owl-carousel-four ul{
  list-style: none;
  margin: 0;
}
.owl-carousel-four-list{
  text-align: center;
  margin-top: -34px;
  font-size: 18px;
  color: #c93232;
}
.trend-box{
  width: 100%;
  display: flex;
  float: left;
  margin-top: 15px;
}
.trend{
  width: 65%;
  margin: auto;
  background: #fff;
}
.header-trend{
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
}
.header-trend-one{
  color: #d1d1d1;
}
.header-trend-two{
  color: #c93413;
}
.trend-body{
  width: 100%;
  float: left;
  background: #fff;
  display: flex;
}
.trend-body-box-one{
  width: 20%;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #d1d1d1;
}
.trend-body-box{
  width: 100%;
  display: flex;
}
.trend-body-list{
  flex: 2;
}
.trend-body-img{
  flex: 1;
}
.trend-body-img img{
  width: 100%;
}
.trend-body-list-one{
  width: 78%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  padding-left: 18px;
}
.trend-body-list-two{ 
  padding-left: 18px;
  line-height: 0;
  font-size: 13px;
  color: #999;
}
.hot-box{
  width: 100%;
  float: left;
  display: flex;
}
.hot{
  width: 65%;
  margin: auto;
  background: #fff;
  margin-top: 15px;
}
.header-hot{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #d1d1d1;
}
.header-hot-one{
  text-transform: uppercase;
  color: #c93413;
  font-size: 15px;
}
.header-hot-two{
  color: #c93413;
  font: 14px;
}
.owl-carousel-five-box{
  padding-left: 10px;
}
.owl-carousel-five-img{
  position: relative;
}
.position-img{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px 34px;
  background: #d1d1d1;
  color: #fff;
}
.position-list{
  position: absolute;
  top: 20px;
  left: 0;
  padding: 4px;
  background: #FF7838;
  text-transform: uppercase;
  color: #fff;
}
.owl-carousel-five-img::before{
  content: "";
  position: absolute;
  top: 47px;
  left: -1px;
  border: 20px solid;
  border-color: #FF7838 transparent transparent transparent;
}.owl-carousel-five-list{
  color: #333;
  font-size: 16px;
}
.suggestions-box{
  width: 100%;
  display: flex;
  float: left;
  margin-top: 15px;
}
.suggestions{
  width: 65%;
  margin: auto;
  background: #fff;
}
.header-suggestions{
  width:100%;
  float: left;
  display: flex;
  padding: 15px;
}
.header-suggestions-one{
  width: 17%;
  text-transform: uppercase;
  font-size: 16px;
  color: #c93413;
  position: relative;
}
.header-suggestions-one::after{
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background: #c93413;
  bottom: -15px;
  left: -15px;
}
.header-suggestions-two{
  width: 15%;
}
.header-suggestions-two img{
  width: 100%;
}
.body-suggestions{
  width: 100%;
  float: left;
}
.body-suggestions-item{
  width: 100%;
  float: left;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.body-suggestions-list{
  width: 16%;
  border: 1px solid #efe1e1;
  position: relative;
  margin-top: 2px;
  
}
.body-suggestions-list:hover{
  border: 1px solid #FF7838;
  margin-top: 1px;
}
.body-suggestions-img{
  width: 100%;
  position: relative;
}
.body-suggestions-img-sale{
  position: absolute;
  top: 0;
  right: 0;
  line-height: 0;
  font-size: 12px;
  background: #f5631e;
}
.body-suggestions-img img{
  width: 100%;
}
.body-suggestions-name{
  padding-left: 10px;
}
.body-suggestions-name-product{
  font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #2c2c2c;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.body-suggestions-price{
  width: 100%;
  padding: 0 10px;
}
.body-suggestions-price-item{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.body-suggestions-price-list-one{
  color: #c93413;
  font-size: 15px;
}
.body-suggestions-price-list-two{
  color: #999;
  font-size: 12px;
}
.body-suggestions-hover{
  position:absolute;
  width: 101%;
  height: 30px;
  background: #FF7838;
  bottom: -30px;
  left: -1px;
  text-align: center;
  padding-top: 4px;
  color: #fff;
  z-index: 1;
  display: none;
}
.body-suggestions-list:hover .body-suggestions-hover{
  display: block;
}
.end-suggestions{
  width: 100%;
  float: left;
  text-align: center;
  margin: 20px 0;
}
.end-suggestions-button{
  padding: 5px 100px;
}
.end-box{
  width: 100%;
  float: left;
  display: flex;
}
.end{
  width: 65%;
  float: left;
  margin: auto;
}
.end-advantages-one{
  width: 100%;
  float: left;
}
.end-advantages-item{
  list-style: none;
  padding: 0;
}
.end-advantages-list-one{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
.end-advantages-list{
  font-size: 12px;
  color: #999;
}
.end-advantages-list a:hover{
  color: #c93413;
}
.enad-advantages-small{
  color: #1155CC;
  text-decoration-line: underline!important;
}
.body-end-advantages-two{
  width: 100%;
  float: left;
}
.body-end-advantages-two-item{
  width: 100%;
  list-style: none;
  padding: 0;
}
.header-end-advantages-two{
  color: #666;
}
.body-end-advantages-two-item-big{
  font-size: 15px;
  text-transform: uppercase;
  color: #666;
}
.body-end-advantages-two-item-big:hover{
  color: #f63;
}
.body-end-advantages-two-item-list{
  font-size: 12px;
  color: #999;
}
.body-end-advantages-two-item-list span:hover{
  color: #f63;
}
.body-end-advantages-two-item-list span a::after{
  content: "";
  position: absolute;
  top: 0;
  right: -3px;
  width: 1px;
  height: 12px;
  background: #999;
}
.body-end-advantages-two-item-list span a{
  position: relative;
}
.box-end-advantages-two{
  display: flex;
  justify-content: space-between;
}
.end-advantages-three{
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
}
.end-advantages-item-one{
  width: 20%;
}
.header-qr-end{
  width: 100%;
}
.body-qr-end{
  display: flex;
  justify-content: space-between;
}
.body-qr-end-img{
  width: 40%;
}
.body-qr-end-img img{
  width: 100%;
}
.body-qr-end-list{
  width: 60%;
}
.body-qr-end-list ul{
  list-style: none;
}
.body-qr-end-list ul li a img{
  width: 100%;
}
.end-advantages-four{
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #999;
}
.end-advantages-four-one{
  width: 40%;
  font-size: 14px;
}
.end-advantages-four-two{
  width: 60%;
  font-size: 14px;
}
.end-advantages-five{
  width: 100%;
}
.end-advantages-five-item{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: #999;
  font-size: 13px;
}
.end-advantages-five-item ul li a{
  text-transform: uppercase;
}
.end-advantages-five-item-one{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.end-advantages-five-item-two{
  text-align: center;
  color: #999;
  font-size: 12px;
}
.end-advantages-five-item-three{
  text-align: center;
  color: #999;
  font-size: 12px;
}